.blog-container {
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.blog-post .blog {
    display: flex;
    justify-content: space-evenly
}

.blog-post {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    justify-content: center;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 1px 25px #ffe5d8;
}

.blog img {
    width: 70vw;
    object-fit: cover;
}

/* @media (min-width: 750px) {
    .blog {
        display: grid;
        flex-wrap: wrap;
    }

} */