/* Contact page*/
input,
select,
textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    resize: vertical;
}

input[type=submit] {
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #B4D2D9;
}

.row {
    align-items: center;
    justify-content: center;
}

.contact-info {
    border-radius: 5px;
    padding: 10px;
}

#contactForm {
    margin: 5%;
    padding: 20px;
    text-align: center;
    background-color: #ffe5d8;
    padding-top: 10px;
    border-radius: 1rem;
    box-shadow: 4px 4px 20px rgb(46, 37, 2);
}

.column {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column img {
    padding: 20px;
    width: 50vw;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

form .cta {
    padding: 10px 20px 10px 27px;
    max-width: 150px;
    margin-left: auto;
}

.error {
    color: red;
    display: none;
}

@media (min-width : 750px) {
    .column {
        flex-direction: row;
        justify-content: center;
    }

    .column img {
        padding: 30px;
        width: 25vw;
    }
}