@import url(/css/import/contact.css);
@import url(/css/import/nav.css);
@import url(/css/import/about.css);
@import url(/css/import/index.css);

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.copyright {
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    background-color: #ffe5d8;
    color: #000000;
    padding: 10px;
}

.cta {
    background: none;
    padding: 10px 40px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 10px #492411;
    margin-top: 10px;
    transition: ease-out 0, 8s;
    cursor: pointer;
    text-align: center;
}

h1,
h2 {
    text-align: center;
    align-items: center;
}